<header>
       <div class="container">
            <div class="header-left">
                <figure class="brand"><a href="{{ url_for('index')}}"><h1 style="color: #14213D;margin-top: 10px">E - Gram</h1></a></figure> 
            </div>
            <div class="top-location">
                <div class="address">
                    <figure class="address-icon"><img src="http://themesquality.com/templates/finnexia/img/master/address.png" alt=""></figure>
                    <h6>Location:</h6>
                    <p>Maharashtra, India</p>
                </div>
                <div class="email">
                    <figure class="mail-icon"><img src="http://themesquality.com/templates/finnexia/img/master/mail.png" alt=""></figure>
                    <h6>Email Us:</h6>
                    <p>info@egram.com</p>
                </div>
                <div class="phone">
                    <figure class="phone-icon"><img src="http://themesquality.com/templates/finnexia/img/master/phone.png" alt=""></figure>
                    <h6>Call Us:</h6>
                    <p>+ 022 1254 4157</p>
                </div>
            </div>
        </div>    
    </header> 
