<div class="top-header">
    <div class="container">
        <div class="top-header-left">
            <div class="inner-header-left"><p><a href="#">CAREERS</a> </p></div>
            <div class="inner-header-left"><p><a href="#">FAQ</a> </p></div>
            <div class="inner-header-left"><p><a href="#">ABOUT</a> </p></div>
        </div>
        <div class="top-header-social">
            <div class="inner-header-social"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
            <div class="inner-header-social"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
            <div class="inner-header-social"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
            <div class="inner-header-social"><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></div>
        </div>
    </div>
</div>
<!-- LOADER 
<div id="loader-wrapper">
    <div id="loader"></div>
</div>
 LOADER -->