{% extends 'layout.html' %}

{% block body %}
	  
	<div class="jumbotron">
	    <h3>About Page</h3>
	    <p>कारी कार्यालय, ठाणे येथे दि.18/08/2001 रोजी नागरीकांच्या सोयीसाठी नागरिक सुविधा केंद्र सुरू करण्यात आले. सेतू म्हणजे प्रशासन व सामान्य जनता यांना जोडणारा दुवा होय. यामुळे या सुविधा केंद्रास सेतू असे नांव देण्यात आले. सेवेतून समाधान हे सेतूचे ब्रीद होय. जिल्हा व तालुका मुख्यालयी एकात्मिक नागरिक सुविधा केंद्र सेतूची स्थापना करणेबाबत महाराष्ट्र शासनाने सामान्य प्रशासन </p>
  	</div>
{% endblock %}
